.todo-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  margin-bottom: 50px;
}

li {
  text-align: initial;
  margin-bottom: 5px;
  margin-top: 4px;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: bold;
  color: rgb(39, 101, 101);
  margin-left: 6px;
  margin-right: 6px;
}
.btn-sm {
  height: 90%;
}
